@if (orderMeta$ | async; as orderMeta) {
  <div class="d-flex flex-column justify-content-between h-100">
    <form
      *transloco="let t; scope: 'create-order/order-forms'"
      [formGroup]="form"
      nzLayout="vertical"
      nz-form
    >
      <nz-form-item>
        <nz-form-label nzFor="quantity" nzRequired>
          {{ t('createOrderOrderForms.quantityLabel') }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="quantityError">

          <tga-input-number formControlName="quantity" placeholder="0"></tga-input-number>

          <span class="fs-sm text-subtitle-color">
          {{ t('createOrderOrderForms.lotSize') }} {{ orderMeta.instrument.lotsize }} {{ t('createOrderOrderForms.pcs') }}
        </span>

          <ng-template #quantityError>
            @if (form.controls.quantity.errors?.required) {
              <span>{{ t('form.errors.required') }}</span>
            }
            @if (form.controls.quantity.errors?.min) {
              <span>{{ t('form.errors.min') }}</span>
            }
            @if (form.controls.quantity.errors?.max) {
              <span>{{ t('form.errors.max') }}</span>
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="condition" nzRequired>
          {{ t('createOrderOrderForms.conditionLabel') }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="t('createOrderOrderForms.conditionError')">
          <nz-select formControlName="condition">
            <nz-option [nzLabel]="t('condition.more')" [nzValue]="conditionType.More"></nz-option>
            <nz-option [nzLabel]="t('condition.moreOrEqual')" [nzValue]="conditionType.MoreOrEqual"></nz-option>
            <nz-option [nzLabel]="t('condition.less')" [nzValue]="conditionType.Less"></nz-option>
            <nz-option [nzLabel]="t('condition.lessOrEqual')" [nzValue]="conditionType.LessOrEqual"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="triggerPrice" nzRequired>
          {{ t('createOrderOrderForms.triggerPriceLabel') }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="triggerPriceError">

          <tga-input-number formControlName="triggerPrice" placeholder="0"></tga-input-number>

          <ng-template #triggerPriceError>
            @if (form.controls.triggerPrice.errors?.required) {
              <span>{{ t('form.errors.required') }}</span>
            }
            @if (form.controls.triggerPrice.errors?.min) {
              <span>{{ t('form.errors.min') }}</span>
            }
            @if (form.controls.triggerPrice.errors?.max) {
              <span>{{ t('form.errors.max') }}</span>
            }
            @if (form.controls.triggerPrice.errors?.priceStepMultiplicity; as err) {
              <span>{{ t('form.errors.priceStepMultiplicity', { step: err.step }) }}</span>
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="stopEndUnixTime">{{ t('createOrderOrderForms.stopEndTimeLabel') }}</nz-form-label>
        <nz-form-control [nzErrorTip]="t('createOrderOrderForms.stopEndTimeError')">
          <nz-date-picker
            class="w-100"
            [nzDisabledDate]="disabledDate"
            [nzPlaceHolder]="t('createOrderOrderForms.selectDatePlaceholder')"
            formControlName="stopEndUnixTime"
            nzFormat="yyyy-MM-dd HH:mm:ss"
          >
          </nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="withLimit" nzRequired>
          {{ t('createOrderOrderForms.withLimitLabel') }}
        </nz-form-label>
        <nz-form-control>
          <nz-radio-group formControlName="withLimit">
            <label [nzValue]="true" nz-radio-button>Limit</label>
            <label [nzValue]="false" nz-radio-button>Market</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      @if (form.controls.withLimit.value) {
        <nz-form-item>
          <nz-form-label nzFor="price" nzRequired>
            {{ t('createOrderOrderForms.priceLabel') }}
          </nz-form-label>
          <nz-form-control [nzErrorTip]="priceError">

            <tga-input-number formControlName="price" placeholder="0"></tga-input-number>

            <ng-template #priceError>
              @if (form.controls.price.errors?.required) {
                <span>{{ t('form.errors.required') }}</span>
              }
              @if (form.controls.price.errors?.min) {
                <span>{{ t('form.errors.min') }}</span>
              }
              @if (form.controls.price.errors?.max) {
                <span>{{ t('form.errors.max') }}</span>
              }
              @if (form.controls.price.errors?.priceStepMultiplicity; as err) {
                <span>{{ t('form.errors.priceStepMultiplicity', { step: err.step }) }}</span>
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      }
    </form>

    <tga-submit-order-buttons
      [disabled]="form.invalid"
      (onSubmit)="submitOrder($event)"
    ></tga-submit-order-buttons>
  </div>
}
