<tga-sections class="h-100">
  <tga-section-panel class="p-15">
    <tga-instrument-select
      [formControl]="instrumentSelectControl"
      (instrumentSelected)="selectInstrument($event)"
    ></tga-instrument-select>

    @if (selectedInstrument != null) {
      <tga-instrument-info
        [instrument]="selectedInstrument"
        (priceSelected)="priceSelected($event)"
      ></tga-instrument-info>
    }
  </tga-section-panel>

  @if (selectedInstrument != null) {
    <tga-section-panel class="p-15">
      <nz-tabset nzSize="small">
        <nz-tab nzTitle="Лимитная">
          <tga-limit-order-form [instrument]="selectedInstrument"></tga-limit-order-form>
        </nz-tab>
        <nz-tab nzTitle="Рыночная">
          <tga-market-order-form [instrument]="selectedInstrument"></tga-market-order-form>
        </nz-tab>
        <nz-tab nzTitle="Стоп">
          <tga-stop-order-form [instrument]="selectedInstrument"></tga-stop-order-form>
        </nz-tab>
      </nz-tabset>
    </tga-section-panel>
  } @else {
    <tga-section-panel class="p-15 h-100 d-flex justify-content-center align-items-center">
      <span class="text-subtitle-color">Выберите инструмент</span>
    </tga-section-panel>
  }
</tga-sections>
