<tga-sections>
  <tga-section-panel class="p-15">
    <tga-instrument-select
      (instrumentSelected)="selectInstrument($event)"
    ></tga-instrument-select>
  </tga-section-panel>

  @if (selectedInstrument != null) {
    <tga-section-panel class="p-15">
      <tga-instrument-info
        [instrument]="selectedInstrument"
      ></tga-instrument-info>
    </tga-section-panel>

    <tga-section-panel class="p-15">
      <nz-tabset nzSize="small">
        <nz-tab nzTitle="Лимитная">
          <tga-limit-order-form [instrument]="selectedInstrument"></tga-limit-order-form>
        </nz-tab>
        <nz-tab nzTitle="Стоп">
          <tga-stop-order-form [instrument]="selectedInstrument"></tga-stop-order-form>
        </nz-tab>
      </nz-tabset>
    </tga-section-panel>
  } @else {
    <tga-section-panel class="p-15">
      <span class="text-subtitle-color">Выберите инструмент</span>
    </tga-section-panel>
  }
</tga-sections>
