@if (passwordCheckParams$ | async; as passwordCheckParams) {
  <nz-drawer
    [nzTitle]="isBackButtonAvailable ? undefined : passwordCheckHeader"
    nzPlacement="top"
    nzHeight="100%"
    [nzClosable]="false"
    [nzVisible]="!passwordCheckParams.isChecked"
  >
    <ng-container *nzDrawerContent>
      <div class="h-100 d-flex flex-column align-items-center justify-content-center flex-gap-15 user-select-none">
        <h2> Войти по код-паролю </h2>

        <span class="text-destructive-color">
          @if (passwordError) {
            Неверный пароль
          } @else {
            &nbsp;
          }
        </span>

        <tga-password-form
          [formControl]="passwordControl"
          [isBiometryButtonVisible]="(isBiometryAvailable$ | async) ?? false"
          (onBiometryButtonClicked)="scanBiometry()"
        />
      </div>
    </ng-container>
  </nz-drawer>

  <ng-template #passwordCheckHeader>
    @if (!isBackButtonAvailable && passwordCheckParams.isBackVisible) {
      <button
        nz-button
        nzType="text"
        (click)="onBack()"
      >
        <span nz-icon nzType="left" nzTheme="outline"></span>
      </button>
    }
  </ng-template>
}
