<tga-sections>
  <tga-section-panel>
    <div class="d-flex flex-column w-100">
      <button
        class="text-accent-color w-100 text-start py-10 px-15 h-100"
        [class.bottom-bordered]="isPasswordAvailable"
        nz-button
        nzType="text"
        (click)="changePassword()"
      >
        {{isPasswordAvailable ? 'Сменить' : 'Назначить'}} код-пароль
      </button>

      @if (isPasswordAvailable) {
        <button
          class="text-destructive-color w-100 text-start py-10 px-15 h-100"
          nz-button
          nzType="text"
          (click)="turnOffPassword()"
        >
          Отключить код-пароль
        </button>
      }
    </div>
  </tga-section-panel>

  <tga-section-panel>
    <div class="d-flex flex-column w-100">
      <div class="menu-item">
        Доступ по биометрии
        <nz-switch [formControl]="biometryAccessControl"></nz-switch>
      </div>
    </div>
  </tga-section-panel>
</tga-sections>

<tga-page-loader [isVisible]="(isLoading$ | async) ?? false"></tga-page-loader>
