<nz-drawer
  [nzTitle]="drawerTitle"
  nzPlacement="bottom"
  nzHeight="100%"
  [nzClosable]="false"
  [nzVisible]="isOpened"
  nzWrapClassName="password-settings"
>
  <ng-container *nzDrawerContent>
    <tga-sections>
      <tga-section-panel>
        <div class="d-flex flex-column w-100">
          <div class="menu-item text-accent-color" (click)="changePassword()">
            Сменить код-пароль
          </div>

          <div class="menu-item text-destructive-color" (click)="turnOffPassword()">
            Отключить код-пароль
          </div>
        </div>
      </tga-section-panel>

      <tga-section-panel>
        <div class="d-flex flex-column w-100">
          <div class="menu-item">
            Доступ по биометрии
            <nz-switch [formControl]="biometryAccessControl"></nz-switch>
          </div>
        </div>
      </tga-section-panel>
    </tga-sections>
  </ng-container>
</nz-drawer>

<ng-template #drawerTitle>
  <div class="d-flex align-items-center">
    @if (!isBackButtonAvailable) {
      <button
        nz-button
        nzType="text"
        class="mr-15"
      >
        <span nz-icon nzType="left" nzTheme="outline"></span>
      </button>
    }

    <h3 class="mb-0"> Код-пароль и биометрия </h3>
  </div>
</ng-template>
