<div class="d-flex flex-column justify-content-center align-items-center flex-gap-20">
  <div class="password-filler">
    @if (isDesktopPlatform) {
      <input
        #inputElement
        class="position-absolute h-100 w-100 opacity-0"
        [formControl]="passwordControl"
        (blur)="focusToInput()"
      >
    }
    @for (n of [1,2,3,4]; track n) {
      <div class="symbol-filler" [class.filled]="(passwordControl.value ?? '').length >= n"></div>
    }
  </div>

  <div class="keyboard">
    <div class="keyboard-row">
      <button (click)="addNumber('1')">1</button>
      <button (click)="addNumber('2')">2</button>
      <button (click)="addNumber('3')">3</button>
    </div>

    <div class="keyboard-row">
      <button (click)="addNumber('4')">4</button>
      <button (click)="addNumber('5')">5</button>
      <button (click)="addNumber('6')">6</button>
    </div>

    <div class="keyboard-row">
      <button (click)="addNumber('7')">7</button>
      <button (click)="addNumber('8')">8</button>
      <button (click)="addNumber('9')">9</button>
    </div>

    <div class="keyboard-row">
      <button (click)="removeNumber()">
        <span nz-icon nzType="backspace" nzTheme="outline"></span>
      </button>
      <button (click)="addNumber('0')">0</button>
      @if (isBiometryButtonVisible) {
        <button (click)="biometryButtonClicked()">
          <span nz-icon nzType="fingerprint" nzTheme="outline"></span>
        </button>
      }
    </div>
  </div>
</div>
