:host {
  @font-size: var(--font-size);

  .password-filler {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: @font-size;

    .symbol-filler {
      height: @font-size;
      width: @font-size;
      border-radius: 50%;
      background-color: var(--mini-app-subtitle-text-color);

      &.filled {
        background-color: var(--mini-app-accent-text-color);
      }
    }
  }
}
