@if (orderMeta$ | async; as orderMeta) {
  <div class="d-flex flex-column justify-content-between h-100">
    <form
      *transloco="let t; scope: 'create-order/order-forms'"
      [formGroup]="form"
      nzLayout="vertical"
      nz-form
    >
      <nz-form-item>
        <nz-form-label nzFor="quantity" nzRequired>
          {{ t('createOrderOrderForms.quantityLabel') }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="quantityError">

          <tga-input-number formControlName="quantity" placeholder="0"></tga-input-number>

          <span class="fs-sm text-subtitle-color">
          {{ t('createOrderOrderForms.lotSize') }} {{ orderMeta.instrument.lotsize }} {{ t('createOrderOrderForms.pcs') }}
        </span>

          <ng-template #quantityError>
            @if (form.controls.quantity.errors?.required) {
              <span>{{ t('form.errors.required') }}</span>
            }
            @if (form.controls.quantity.errors?.min) {
              <span>{{ t('form.errors.min') }}</span>
            }
            @if (form.controls.quantity.errors?.max) {
              <span>{{ t('form.errors.max') }}</span>
            }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>

    <tga-order-evaluation
      [evaluationProperties]="evaluationRequest$ | async"
      [currency]="orderMeta.instrument.currency"
    ></tga-order-evaluation>

    <tga-submit-order-buttons
      [disabled]="form.invalid"
      (onSubmit)="submitOrder($event)"
    ></tga-submit-order-buttons>
  </div>
}
