<div class="d-flex flex-column">
  <div class="d-flex flex-column">
    <div class="header d-flex justify-content-end">
      <div>
        <tga-portfolio-selection></tga-portfolio-selection>
      </div>
    </div>

    <div class="portfolio-summary">
      <tga-portfolio-evaluation></tga-portfolio-evaluation>
    </div>

    <div class="ideas">
      Инвестиционные идеи
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="links">
      Ссылки
    </div>

    <div class="portfolio-details d-flex flex-column">
      <nz-collapse nzExpandIconPosition="end">
        <nz-collapse-panel nzHeader="Позиции">

        </nz-collapse-panel>

        <nz-collapse-panel nzHeader="Сделки">

        </nz-collapse-panel>

        <nz-collapse-panel nzHeader="Заявки">

        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
</div>
