<tga-sections>
  <tga-section-panel>
    <div>
      <div class="header d-flex justify-content-end">
        <div>
          <tga-portfolio-selection></tga-portfolio-selection>
        </div>
      </div>

      <div class="portfolio-summary">
        <tga-portfolio-evaluation></tga-portfolio-evaluation>
      </div>

      <div class="ideas">
        Инвестиционные идеи
      </div>
    </div>
  </tga-section-panel>

  <tga-section-panel>
    <div class="links">
      Ссылки
    </div>
  </tga-section-panel>

  <tga-section-panel>
    <nz-collapse nzExpandIconPosition="end">
      <nz-collapse-panel nzHeader="Позиции">
        <tga-positions-list></tga-positions-list>
      </nz-collapse-panel>
    </nz-collapse>
  </tga-section-panel>

  <tga-section-panel>
    <nz-collapse nzExpandIconPosition="end">
      <nz-collapse-panel nzHeader="Сделки">
        <tga-trades-list></tga-trades-list>
      </nz-collapse-panel>
    </nz-collapse>
  </tga-section-panel>

  <tga-section-panel>
    <nz-collapse nzExpandIconPosition="end">
      <nz-collapse-panel nzHeader="Заявки">
        <tga-orders-list></tga-orders-list>
      </nz-collapse-panel>
    </nz-collapse>
  </tga-section-panel>
</tga-sections>
