<div (mousedown)='$event.stopPropagation()' class="search-field">
  <nz-input-group>
    <input #searchInput
           (blur)="checkInstrumentSelection()"
           (mousedown)="$event.stopPropagation()"
           (input)="filterChanged(searchInput.value)"
           [nzAutocomplete]="auto"
           class='whole ant-input'
           nz-input
           [formControl]="searchControl"
           placeholder="Поиск инструмента"
    />
  </nz-input-group>

  <nz-autocomplete #auto>
    @for (option of (filteredInstruments$ | async); track option.symbol) {
      <nz-auto-option
        [nzLabel]="option.symbol"
        [nzValue]="option.symbol"
        (selectionChange)="onSelect($event, option)"
      >
        <span class='search-row'>
          <nz-tag>{{ option.symbol }}</nz-tag>
          <span class='row-center'>{{ option.shortName }}&nbsp;</span>
          @if (option.instrumentGroup) {
            <nz-tag>{{ option.instrumentGroup }}</nz-tag>
          }
          <nz-tag>{{ option.exchange }}</nz-tag>
        </span>
      </nz-auto-option>
    }
  </nz-autocomplete>
</div>
