<tga-sections class="h-100 d-flex" *transloco="let t; scope: 'create-order/create-order-page'">
  <tga-section-panel class="p-15">
    <tga-instrument-select
      [formControl]="instrumentSelectControl"
      (instrumentSelected)="selectInstrument($event)"
    ></tga-instrument-select>

    @if (selectedInstrument != null) {
      <tga-instrument-info
        [instrument]="selectedInstrument"
        (priceSelected)="priceSelected($event)"
      ></tga-instrument-info>
    }
  </tga-section-panel>

  @if (selectedInstrument != null) {
    <tga-section-panel class="p-15 flex-fill overflow-hidden">
      <nz-tabset nzSize="small" class="order-tabs">
        <nz-tab [nzTitle]="t('createOrderCreateOrderPage.limitTabTitle')">
          <tga-limit-order-form [instrument]="selectedInstrument"></tga-limit-order-form>
        </nz-tab>
        <nz-tab [nzTitle]="t('createOrderCreateOrderPage.marketTabTitle')">
          <tga-market-order-form [instrument]="selectedInstrument"></tga-market-order-form>
        </nz-tab>
        <nz-tab [nzTitle]="t('createOrderCreateOrderPage.conditionalTabTitle')">
          <tga-stop-order-form [instrument]="selectedInstrument"></tga-stop-order-form>
        </nz-tab>
      </nz-tabset>
    </tga-section-panel>
  } @else {
    <tga-section-panel class="p-15 d-flex justify-content-center align-items-center flex-fill">
      <span class="text-subtitle-color">{{ t('createOrderCreateOrderPage.emptyInstrumentTitle') }}</span>
    </tga-section-panel>
  }

  <tga-section-panel class="p-15">
    <tga-links></tga-links>
  </tga-section-panel>
</tga-sections>
