@btn-prefix-cls: ~'ant-btn';

.@{btn-prefix-cls} {
  @tg-button-text-color: var(--mini-app-button-text-color);
  @tg-text-color: var(--mini-app-text-color);
  @tg-link-color: var(--mini-app-link-color);

  color: @tg-button-text-color;


  &-text {
    color: @tg-text-color;

    &:hover,
    &:focus {
      color: @tg-text-color;
    }

    &:active {
      color: @tg-text-color;
    }
  }

  &-link {
    color: @tg-link-color;
  }
}
