.@{btn-prefix-cls} {
  @tg-button-bg-color: var(--mini-app-button-bg-color);
  @tg-button-text-color: var(--mini-app-button-text-color);
  @tg-text-color: var(--mini-app-text-color);
  @tg-link-color: var(--mini-app-link-color);

  background-color: @tg-button-bg-color;
  border-color: @tg-button-bg-color;
  color: @tg-button-text-color;


  &-text {
    color: @tg-text-color;
    background-color: transparent;
    border-color: transparent;

    &:hover,
    &:focus {
      color: @tg-text-color;
    }

    &:active {
      color: @tg-text-color;
    }
  }

  &-link {
    background-color: transparent;
    border-color: transparent;
    color: @tg-link-color;
  }
}
