<tga-sections *transloco="let t; scope: 'home/order-item'">
  <tga-section-panel class="p-15">
    @if (order$ | async; as order) {
      <nz-descriptions
        nzBordered
        nzSize="small"
      >
        <nz-descriptions-item [nzTitle]="t('homeOrderItem.statusLabel')">
          <span
            [ngClass]="{
              'buy-color': order.status === orderStatus.Filled,
              'inactive-color': order.status === orderStatus.Canceled,
              'text-accent-color': order.status === orderStatus.Working
            }"
          >
            {{ t('homeOrderItem.status.' + order.status) }}
          </span>
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="t('homeOrderItem.tickerLabel')">
          {{ order.symbol }}
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="t('homeOrderItem.exchangeLabel')">
          {{ order.exchange }}
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="t('homeOrderItem.orderTypeLabel')">
          {{ t('homeOrderItem.orderType.' + order.type) }}
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="t('homeOrderItem.sideLabel')">
          <span
            *transloco="let tHome; scope: 'home'"
            [class]="order.side === orderSide.Buy ? 'buy-color' : 'sell-color'"
          >
            {{ tHome('home.side.' + order.side) }}
          </span>
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="t('homeOrderItem.quantityLabel')">
          {{ order.filledQtyUnits }}/{{ order.qtyUnits }}
        </nz-descriptions-item>

        @if (order.type === orderType.StopMarket || order.type === orderType.StopLimit) {
          <nz-descriptions-item [nzTitle]="t('homeOrderItem.triggerPriceLabel')">
            {{ getOrderStopPrice(order) }}
          </nz-descriptions-item>

          <nz-descriptions-item [nzTitle]="t('homeOrderItem.conditionLabel')">
            {{ getOrderCondition(order) | orderCondition }}
          </nz-descriptions-item>
        }

        @if (order.type === orderType.StopLimit || order.type === orderType.Limit) {
          <nz-descriptions-item [nzTitle]="t('homeOrderItem.priceLabel')">
            {{ order.price }}
          </nz-descriptions-item>
        }

        <nz-descriptions-item [nzTitle]="t('homeOrderItem.transTimeLabel')">
          {{ order.transTime | date : 'dd.MM.yyyy HH:mm' }}
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="t('homeOrderItem.endTimeLabel')">
          {{ order.endTime | date : 'dd.MM.yyyy HH:mm' }}
        </nz-descriptions-item>

        <nz-descriptions-item [nzTitle]="t('homeOrderItem.volumeLabel')">
          {{ order.volume }}
        </nz-descriptions-item>
      </nz-descriptions>

      @if (order.status === orderStatus.Working) {
        <div class="d-flex justify-content-end mt-10">
          <button
            nz-button
            nzType="primary"
            nzDanger
            (click)="cancelOrder()"
          >
            {{ t('homeOrderItem.cancelOrderBtn') }}
          </button>
        </div>
      }
    } @else if (isLoading$ | async) {
      <div class="d-flex justify-content-center">
        <span nz-icon nzType="loading" nzTheme="outline"></span>
      </div>
    } @else {
      <div class="d-flex justify-content-center">
        <span class="text-subtitle-color">{{ t('homeOrderItem.orderNotFound') }}</span>
      </div>
    }
  </tga-section-panel>
</tga-sections>
