<nz-descriptions nzBordered nzSize="small">
  <nz-descriptions-item nzTitle="Статус">
    <span
      [ngClass]="{
        'filled-status-color': order.status === orderStatus.Filled,
        'cancelled-status-color': order.status === orderStatus.Canceled,
        'working-status-color': order.status === orderStatus.Working,
      }"
    >
      {{ order.status | orderStatus }}
    </span>
  </nz-descriptions-item>

  <nz-descriptions-item nzTitle="Тикер">{{ order.symbol }}</nz-descriptions-item>

  <nz-descriptions-item nzTitle="Биржа">{{ order.exchange }}</nz-descriptions-item>

  <nz-descriptions-item nzTitle="Тип заявки">{{ order.type | orderType }}</nz-descriptions-item>

  <nz-descriptions-item nzTitle="Сторона">
    <span [class]="order.side === orderSide.Buy ? 'buy-color' : 'sell-color'">{{ order.side | orderSide }}</span>
  </nz-descriptions-item>

  <nz-descriptions-item nzTitle="Количество">{{ order.filledQtyUnits }}/{{ order.qtyUnits }}</nz-descriptions-item>

  @if (order.type === orderType.StopMarket || order.type === orderType.StopLimit) {
    <nz-descriptions-item nzTitle="Сигн. цена">{{ getOrderStopPrice() }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Условие">{{ getOrderCondition() | orderCondition }}</nz-descriptions-item>
  }

  @if (order.type === orderType.StopLimit || order.type === orderType.Limit) {
    <nz-descriptions-item nzTitle="Цена">{{ order.price }}</nz-descriptions-item>
  }

  <nz-descriptions-item nzTitle="Время">{{ order.transTime | date : 'dd.MM.yyyy HH:mm' }}</nz-descriptions-item>

  <nz-descriptions-item nzTitle="Действ. до">{{ order.endTime | date : 'dd.MM.yyyy HH:mm' }}</nz-descriptions-item>

  <nz-descriptions-item nzTitle="Объём">{{ order.volume }}</nz-descriptions-item>
</nz-descriptions>
