@if (viewModel$ | async; as viewModel) {
  <tga-list>
    @if (viewModel.viewData) {
      @for (order of viewModel.viewData; track order) {
        <tga-list-item>
          <div
            class="d-flex flex-row align-items-center flex-gap-10 cursor-pointer"
            (click)="selectItem.emit(order)"
          >
            <div
              class="align-self-stretch"
              [ngClass]="{
              'order-side': true,
              'buy-bg': order.side === Sides.Buy,
              'sell-bg': order.side === Sides.Sell,
              'inactive-bg': order.status === Statuses.Canceled || order.status === Statuses.Rejected
              }"
            >&nbsp;
            </div>
            <div class="d-flex align-items-center justify-content-center">
              @switch (order.status) {
                @case (Statuses.Canceled) {
                  <span nz-icon nzType="stop" nzTheme="outline" class="inactive-color"></span>
                }
                @case (Statuses.Filled) {
                  <span nz-icon nzType="check" nzTheme="outline" class="buy-color"></span>
                }
                @default {
                  <span nz-icon nzType="hourglass" nzTheme="outline"></span>
                }
              }
            </div>
            <div>
              <nz-avatar
                [nzText]="order.symbol"
                [nzSize]="32"
                nzGap='4'
                [nzSrc]="getIconUrl(order)">
              </nz-avatar>
            </div>
            <div class="d-flex flex-row flex-fill list-item-bordered-part">
              <div class="d-flex flex-column flex-fill">
                <div>
                  <span nz-typography nzEllipsis>{{ order.symbol }}</span>
                </div>
                <div>
                  <span class="text-subtitle-color">{{ order.qtyBatch | number }} л.</span>
                </div>
              </div>

              <div class="d-flex flex-column">
                <div [ngClass]="{
              'buy-color': order.side === Sides.Buy,
              'sell-color': order.side === Sides.Sell,
        }"
                >
                  {{ order.price | number: '1.0-6' }}
                </div>
                @if (order.volume != null) {
                  <div>
                    <span class="text-subtitle-color">{{ order.volume | number: '1.0-6' }} ₽</span>
                  </div>
                }
              </div>
              <span nz-icon nzType="right" nzTheme="outline" class="list-item-arrow ml-10"></span>
            </div>
          </div>
        </tga-list-item>
      } @empty {
        <tga-list-item>
          <span class="text-subtitle-color">В текущей торговой сессии заявок не было.</span>
        </tga-list-item>
      }
    } @else {
      <tga-list-item>
        <nz-skeleton
          [nzActive]="true"
          [nzAvatar]="{shape: 'circle'}"
          [nzParagraph]="{rows: 1}"
          [nzRound]="true"
        ></nz-skeleton>
      </tga-list-item>
    }
  </tga-list>
}
