<div class="h-100 d-flex flex-column align-items-center justify-content-center flex-gap-15 user-select-none">
  <h2> Войти по код-паролю </h2>

  <span class="text-destructive-color">
          @if (passwordError) {
            Неверный пароль
          } @else {
            &nbsp;
          }
        </span>

  <tga-password-form
    [formControl]="passwordControl"
    [isBiometryButtonVisible]="(isBiometryAvailable$ | async) ?? false"
    (onBiometryButtonClicked)="scanBiometry()"
  />

  @if (isCancelable && !isBackButtonAvailable) {
    <button
      nz-button
      nzType="text"
      (click)="onBack()"
    >
      Отмена
    </button>
  }
</div>

<tga-page-loader [isVisible]="(isLoading$ | async) ?? false"></tga-page-loader>
