@if (viewModel$ | async; as viewModel) {
  <tga-list>
    @if (viewModel.viewData) {
      @for (trade of viewModel.viewData; track trade) {
        <tga-list-item>
          <div
            class="d-flex flex-row align-items-center flex-gap-10 item cursor-pointer"
            (click)="selectItem.emit(trade)"
          >
            <div
              class="align-self-stretch"
              [ngClass]="{
                'trade-side': true,
                'buy-bg': trade.side === Sides.Buy,
                'sell-bg': trade.side === Sides.Sell,
                }"
            >&nbsp;
            </div>
            <div>
              <nz-avatar
                [nzText]="trade.symbol"
                [nzSize]="32"
                nzGap='4'
                [nzSrc]="getIconUrl(trade)">
              </nz-avatar>
            </div>
            <div class="d-flex flex-row flex-fill list-item-bordered-part">
              <div class="d-flex flex-column flex-fill">
                <div>
                  <span nz-typography nzEllipsis>{{ trade.symbol }}</span>
                </div>
                <div>
              <span class="text-subtitle-color">
                {{ trade.qtyBatch | number }} л.
              </span>
                </div>
              </div>

              <div class="d-flex align-items-center">
                {{ trade.price | number: '1.0-6' }} ₽
              </div>

              <span nz-icon nzType="right" nzTheme="outline" class="list-item-arrow ml-10"></span>
            </div>
          </div>
        </tga-list-item>

      } @empty {
        <tga-list-item>
          <span>В текущей торговой сессии сделок не было.</span>
        </tga-list-item>
      }
    } @else {
      <tga-list-item>
        <nz-skeleton
          [nzActive]="true"
          [nzAvatar]="{shape: 'circle'}"
          [nzParagraph]="{rows: 1}"
          [nzRound]="true"
        ></nz-skeleton>
      </tga-list-item>
    }
  </tga-list>
}
