<div
  class="px-24 py-16 bg-color mb-15"
>
  <div class="d-flex align-items-center">
    @if (!isBackButtonAvailable) {
      <button
        nz-button
        nzType="text"
        class="mr-15"
        (click)="onBack()"
      >
        <span nz-icon nzType="left" nzTheme="outline"></span>
      </button>
    }

    <h3 class="mb-0"> Настройки </h3>
  </div>
</div>

<div class="d-flex flex-column">
  @for (buttonsblock of settingsButtons; let i = $index; track i) {
    <div class="d-flex flex-column mb-15">
      @for (item of buttonsblock; track item.icon) {
        <div
          class="cursor-pointer menu-item px-24 py-12 bg-color"
          (click)="item.action()"
        >
          <div class="d-flex flex-gap-10 align-items-center">
            <div
              [class]="'menu-icon ' + item.className"
            >
              <span nz-icon [nzType]="item.icon" nzTheme="outline"></span>
            </div>
            <span nz-typography [nzType]="item.type">{{ item.title }}</span>
          </div>
        </div>
      }
    </div>
  }
</div>

<tga-password-settings
  [isOpened]="isPasswordSettingsOpened"
  (onBackClicked)="passwordSettingsBackClicked()"
></tga-password-settings>

<tga-password-check></tga-password-check>
