@if (viewModel$ | async; as viewModel) {
  <tga-list>
    @if (viewModel.viewData) {
      @for (position of viewModel.viewData; track position) {
        <tga-list-item>
          <div
            class="d-flex flex-row align-items-center flex-gap-10 user-select-none cursor-pointer"
            (click)="createOrder(position)"
          >
            <div>
              <nz-avatar
                #avatar
                [nzText]="iconSymbol(position)"
                [nzSize]="32"
                nzGap='4'
                [nzSrc]="getIconUrl(position)">
              </nz-avatar>
            </div>
            <div class="d-flex flex-row flex-fill align-self-stretch list-item-bordered-part">
              <div class="d-flex flex-column flex-fill align-self-center">
                <div>
                  <span>{{ positionTitle(position) }}</span>
                </div>
                @if (showLots(position)) {
                  <div>
                    <span
                      *transloco="let t; scope: 'home'"
                      class="text-subtitle-color"
                    >
                      {{ position.qtyTFutureBatch | number }} {{ t('home.lotsLabel') }}
                    </span>
                  </div>
                }
              </div>

              <div class="d-flex align-items-center">
                {{ position.volume | number: '1.0-2' }} ₽
              </div>
            </div>
          </div>
        </tga-list-item>
      } @empty {
        <tga-list-item>
          <span
            *transloco="let t; scope: 'home/positions-list'"
            class="text-subtitle-color"
          >
            {{ t('homePositionsList.emptyPositions') }}
          </span>
        </tga-list-item>
      }
    } @else {
      <tga-list-item>
        <nz-skeleton
          [nzActive]="true"
          [nzAvatar]="{shape: 'circle'}"
          [nzParagraph]="{rows: 1}"
          [nzRound]="true"
        ></nz-skeleton>
      </tga-list-item>
    }
  </tga-list>
}


