<div class="h-100 d-flex flex-column align-items-center justify-content-center flex-gap-15 user-select-none">
  <h2>
    {{ passwordPhase === passwordPhaseEnum.Create ? 'Придумайте код-пароль' : 'Повторите код-пароль' }}
  </h2>

  <tga-password-form [formControl]="passwordCtrl"/>

  <button
    class="mt-15"
    nz-button
    nzType="text"
    (click)="createAgain()"
    [style.visibility]="passwordPhase === passwordPhaseEnum.Create ? 'hidden' : 'visible'"
  >
    Ввести заново
  </button>
</div>
