<div
  *transloco="let t; scope: 'authentication/create-password-page'"
  class="h-100 d-flex flex-column align-items-center justify-content-center flex-gap-15 user-select-none"
>
  <h2>
    {{
      t(passwordPhase === passwordPhaseEnum.Create
        ? 'authenticationCreatePasswordPage.createPasswordTitle'
        : 'authenticationCreatePasswordPage.repeatPasswordTitle')
    }}
  </h2>

  <tga-password-form [formControl]="passwordCtrl"/>

  <button
    class="mt-15"
    nz-button
    nzType="text"
    (click)="createAgain()"
    [style.visibility]="passwordPhase === passwordPhaseEnum.Create ? 'hidden' : 'visible'"
  >
    {{ t('authenticationCreatePasswordPage.reset') }}
  </button>
</div>
