<div class="d-flex flex-gap-5" *transloco="let t; scope: 'create-order/submit-order-buttons'">
  <button
    nz-button
    class="flex-fill buy-bg border-none"
    [disabled]="disabled"
    (click)="onSubmit.emit(side.Buy)"
  >
    {{ t('createOrderSubmitOrderButtons.buyBtnTitle') }}
  </button>
  <button
    nz-button
    class="flex-fill sell-bg border-none"
    [disabled]="disabled"
    (click)="onSubmit.emit(side.Sell)"
  >
    {{ t('createOrderSubmitOrderButtons.sellBtnTitle') }}
  </button>
</div>
