<tga-sections>
  <tga-section-panel class="p-15">
    <tga-instrument-select
      (instrumentSelected)="selectInstrument($event)"
    ></tga-instrument-select>

    @if (selectedInstrument != null) {
      <tga-instrument-info
        [instrument]="selectedInstrument"
      ></tga-instrument-info>
    }

    <nz-tabset nzSize="small">
      <nz-tab nzTitle="Лимитная">
        <tga-limit-order [instrument]="selectedInstrument"></tga-limit-order>
      </nz-tab>
    </nz-tabset>
  </tga-section-panel>
</tga-sections>
