<nz-descriptions
  *transloco="let t; scope: 'home/trade-item'"
  nzBordered
  nzSize="small"
>
  <nz-descriptions-item [nzTitle]="t('homeTradeItem.orderNoLabel')">
    {{ trade.orderNo }}
  </nz-descriptions-item>

  <nz-descriptions-item [nzTitle]="t('homeTradeItem.tickerLabel')">
    {{ trade.symbol }}
  </nz-descriptions-item>

  <nz-descriptions-item [nzTitle]="t('homeTradeItem.shortNameLabel')">
    {{ trade.shortName }}
  </nz-descriptions-item>

  <nz-descriptions-item [nzTitle]="t('homeTradeItem.exchangeLabel')">
    {{ trade.exchange }}
  </nz-descriptions-item>

  <nz-descriptions-item [nzTitle]="t('homeTradeItem.sideLabel')">
    <span
      *transloco="let tHome; scope: 'home'"
      [class]="trade.side === side.Buy ? 'buy-color' : 'sell-color'"
    >
      {{ tHome('home.side.' + trade.side) }}
    </span>
  </nz-descriptions-item>

  <nz-descriptions-item [nzTitle]="t('homeTradeItem.quantityLabel')">
    {{ trade.qtyUnits }}
  </nz-descriptions-item>

  <nz-descriptions-item [nzTitle]="t('homeTradeItem.priceLabel')">
    {{ trade.price }}
  </nz-descriptions-item>

  <nz-descriptions-item [nzTitle]="t('homeTradeItem.transTimeLabel')">
    {{ trade.date | date : 'dd.MM.yyyy HH:mm' }}
  </nz-descriptions-item>

  <nz-descriptions-item [nzTitle]="t('homeTradeItem.volumeLabel')">
    {{ trade.volume }}
  </nz-descriptions-item>
</nz-descriptions>
