<tga-list>
  @if (orders$ | async; as orders) {
    @for (order of orders; track order) {
      <tga-list-item>
        <div
          class="d-flex flex-row align-items-center flex-gap-10 cursor-pointer"
          (click)="selectOrder(order)"
        >
          <div
            class="align-self-stretch"
            [ngClass]="{
              'order-side': true,
              'buy-bg': order.side === Sides.Buy,
              'sell-bg': order.side === Sides.Sell,
              'inactive-bg': order.status === Statuses.Canceled || order.status === Statuses.Rejected
              }"
          >&nbsp;
          </div>
          <div class="d-flex align-items-center justify-content-center">
            @switch (order.status) {
              @case (Statuses.Canceled) {
                <span nz-icon nzType="stop" nzTheme="outline" class="inactive-color"></span>
              }
              @case (Statuses.Filled) {
                <span nz-icon nzType="check" nzTheme="outline" class="buy-color"></span>
              }
              @default {
                <span nz-icon nzType="hourglass" nzTheme="outline"></span>
              }
            }
          </div>
          <div>
            <nz-avatar
              [nzText]="order.symbol"
              [nzSize]="32"
              nzGap='4'
              [nzSrc]="getIconUrl(order)">
            </nz-avatar>
          </div>
          <div class="d-flex flex-row flex-fill align-self-stretch list-item-bordered-part overflow-hidden flex-gap-10">
            <div class="d-flex flex-column flex-fill justify-content-center">
              <div>
                <span nz-typography nzEllipsis>{{ order.symbol }}</span>
              </div>

              @if (order.qtyBatch != null) {
                <div>
                  <span
                    *transloco="let t; scope: 'home'"
                    class="text-subtitle-color"
                  >
                    {{ order.qtyBatch | number }} {{ t('home.lotsLabel') }}
                  </span>
                </div>
              }
            </div>

            <div class="d-flex flex-column align-items-end overflow-hidden text-end">
              <div
                class="w-100 overflow-hidden text-ellipsis"
                [ngClass]="{
                  'buy-color': order.side === Sides.Buy,
                  'sell-color': order.side === Sides.Sell,
                }"
              >
                <span>С{{ order.stopPrice | number: '1.0-6' }}</span>
                @if (order.type === OrderTypes.StopLimit) {
                  <span>/{{ order.price | number: '1.0-6' }}</span>
                }

              </div>
              @if (order.volume != null) {
                <div class="w-100 overflow-hidden text-ellipsis text-nowrap">
                  <span class="text-subtitle-color">
                    @if (order.type === OrderTypes.StopMarket) {
                      ~
                    }
                    {{ order.volume | number: '1.0-6' }} ₽
                  </span>
                </div>
              }
            </div>
            <div>
              <span nz-icon nzType="right" nzTheme="outline" class="list-item-arrow"></span>
            </div>
          </div>
        </div>
      </tga-list-item>
    } @empty {
      <tga-list-item>
        <span
          *transloco="let t; scope: 'home/stop-orders-list'"
          class="text-subtitle-color"
        >
          {{ t('homeStopOrdersList.emptyOrders') }}
        </span>
      </tga-list-item>
    }
  } @else {
    <tga-list-item>
      <nz-skeleton
        [nzActive]="true"
        [nzAvatar]="{shape: 'circle'}"
        [nzParagraph]="{rows: 1}"
        [nzRound]="true"
      ></nz-skeleton>
    </tga-list-item>
  }
</tga-list>
