@for (idea of (investmentIdeas$ | async); track idea.signalId) {
  <nz-collapse [class]="'mb ' + 'idea-' + idea.signalId">
    <nz-collapse-panel
      [nzHeader]="idea.symbolShortName + ' (' + idea.symbol + ')'"
      [nzActive]="!watchedIdeasIdsSet?.has(idea.signalId)"
      [nzShowArrow]="false"
      [nzExtra]="publishDate"
      (nzActiveChange)="watchIdea(idea.signalId)"
    >
      <div (click)="watchIdea(idea.signalId)">
        <p>{{ idea.comment }}</p>
        <nz-descriptions nzBordered nzSize="small" class="mb">
          <nz-descriptions-item nzTitle="Рек. цена">{{ idea.price }}</nz-descriptions-item>
          <nz-descriptions-item
            nzTitle="Дейст. до">{{ idea.validTo == null ? 'Бессрочно' : (idea.validTo | date : 'dd.MM.yyyy') }}
          </nz-descriptions-item>
        </nz-descriptions>
        <div class="w-100 text-end">
          Автор: {{ idea.userFullName }}
        </div>
      </div>
    </nz-collapse-panel>
  </nz-collapse>

  <ng-template #publishDate>
    {{ (idea.timestamp | date :'dd.MM.yyyy') ?? '' }}
  </ng-template>
} @empty {
  @if (isLoading$ | async) {
    <div class="w-100 d-flex justify-content-center">
      <nz-spin nzSimple [nzSize]="'small'"></nz-spin>
    </div>
  } @else {
    <h2>Инвестиционные идеи отсутствуют</h2>
  }
}

