<ng-container *transloco="let t; scope: 'home/investment-ideas'">
  @if (showDisclaimer$ | async) {
    <nz-alert
      class="mb-10"
      nzBanner
      [nzMessage]="disclaimer"
      [nzShowIcon]="false"
      (nzOnClose)="onDisclaimerClosed()"
    ></nz-alert>
  }

  <ng-template #disclaimer>
    <div class="d-flex flex-column text-subtitle-color">
      <div class="w-100 d-flex justify-content-end">
        <button
          nz-button
          class="text-subtitle-color"
          nzType="text"
          (click)="onDisclaimerClosed()"
        >
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </button>
      </div>

      <div class="disclaimer-text">
        <p>
          {{ t('homeInvestmentIdeas.disclaimer.baseText') }}
        </p>
        <p>
          {{ t('homeInvestmentIdeas.disclaimer.phoneText') }}
          <a href="tel:88007751199">8 800 775-11-99 ({{ t('homeInvestmentIdeas.disclaimer.addNumber') }} 3)</a>,
          <a href="tel:+74959815577">+7 495 981-55-77 ({{ t('homeInvestmentIdeas.disclaimer.addNumber') }} 3)</a>,
          {{ t('homeInvestmentIdeas.disclaimer.emailText') }}
          <a href= "mailto: client@alor.ru"> client&#64;alor.ru </a>
        </p>
      </div>
    </div>
  </ng-template>

  @for (idea of (investmentIdeas$ | async); track idea.signalId) {
    <nz-collapse
      [class]="'mb-10 ' + 'idea-' + idea.signalId"
    >
      <nz-collapse-panel
        [nzHeader]="header"
        [nzActive]="!watchedIdeasIdsSet?.has(idea.signalId)"
        [nzShowArrow]="false"
        [nzExtra]="extras"
      >
        <p>{{ idea.comment }}</p>
        <nz-descriptions nzBordered nzSize="small" class="mb-10">
          <nz-descriptions-item [nzTitle]="t('homeInvestmentIdeas.recommendedPriceLabel')">
            {{ idea.price }}
          </nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="t('homeInvestmentIdeas.validToLabel')">
            {{ idea.validTo == null ? t('homeInvestmentIdeas.indefinitelyLabel') : (idea.validTo | date : 'dd.MM.yyyy') }}
          </nz-descriptions-item>
        </nz-descriptions>
        <div class="w-100 text-end">
          {{ t('homeInvestmentIdeas.authorLabel') }}: {{ idea.userFullName }}
        </div>
      </nz-collapse-panel>
    </nz-collapse>

    <ng-template #extras>
      @if (!watchedIdeasIdsSet?.has(idea.signalId)) {
      <button
        nz-button
        nzType="text"
        (click)="watchIdea(idea.signalId)"
        >
        <span nz-icon nzType="eye-invisible" nzTheme="outline"></span>
      </button>
      }
    </ng-template>

    <ng-template #header>
      <h4 class="mb-0">{{ idea.symbolShortName }} ({{ idea.symbol }})</h4>
      <span class="text-subtitle-color">{{ (idea.timestamp | date :'dd.MM.yyyy') ?? '' }}</span>
    </ng-template>
  } @empty {
    <div class="w-100 d-flex justify-content-center mb-10">
      @if (isLoading$ | async) {
        <nz-spin nzSimple [nzSize]="'small'"></nz-spin>
      } @else {
        <span class="text-subtitle-color">
          {{ t('homeInvestmentIdeas.emptyIdeasLabel') }}
        </span>
      }
    </div>
  }

  @if (!(isOldIdeasRequested$ | async)) {
    <div class="d-flex justify-content-center">
      <button
        nz-button
        (click)="loadOldIdeas()"
      >
        {{ t('homeInvestmentIdeas.showOldIdeasLabel') }}
      </button>
    </div>
  }
</ng-container>
